<!-- views/partials/nav.ejs -->
<style>
    header {
        height: 75px;
        padding: 1rem;
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top : 0;
        left : 0;
        right : 0;
    }

    .logo{
        flex: 1;
    }

    .logo-img {
        width: 350px;
        height: 180px;
        margin-left: -100px;
    }

    img{
        width: 350px;
        height: 180px;
        margin-right: auto;
    }

    nav{
        flex : 0.3;
        display : flex;
        justify-content: space-around;
        align-items: center;
    }

    nav span:nth-child(1){
        margin-right:-18%;
    }

    .logout-btn, .user-btn {
        border:0; 
        outline:0; 
        background-color: white;
        cursor: pointer;
    }

</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<header>
    <span class="logo">
        <img src="/petlogo.ico" alt="" class="logo-img">
    </span>
    <nav>
        <span>
            <img src="" onerror="this.src='/images/vet_thumbnail/error_profile.png'">
        </span>
        <button onclick="goMain()" class="user-btn" style="background:none;">
            <p >이지원</p>
        </button>
        <button class="logout-btn" style="background:none;">
            <span class="material-symbols-outlined" onclick="logout()">logout</span>
        </button>
    </nav>
</header>
<script type="text/javascript">
    function logout() {
        var result = confirm('로그아웃 하시겠습니까?');
        if(result) {
            alert('로그아웃 성공');
        }
    }
    
    function goMain() {
        // user 정보가 있으면 
        // location.href = "/main"

        // user 정보가 없으면
        location.href = "/"
    }
</script>