<!-- views/partials/sidebar.ejs -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/vet_thumbnail/이지원.jpg" alt="사용자 이미지">
                </span>

                <div class="text logo-text">
                    <span class="name">이름 : 이지원</span>
                    <span class="profession">직책 : 대표 원장</span>
                    <span class="hospital">소속 : 솔 동물 의료센터</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/mypage">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">내 정보</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/diagnosis">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">진단 내역</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/notice">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">통화 알림</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/call">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">화상 통화</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <button style="background:none; cursor:pointer; border:0; outline:0; display:flex; align-items: center;" onclick="logout()">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </button>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>

    </nav>
    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "Green mode";
    }else{
        modeText.innerText = "Dark mode";
        
    }
});

function logout() {
        var result = confirm('로그아웃 하시겠습니까?');
        if(result) {
            alert('로그아웃 성공');
            location.href = "/"
        }
    }
    </script>

</body>
</html>