.home .container{
    display:flex;
    flex-direction: column;
    margin: 24px 130px;
    padding-bottom : -65px;
    border: 1px solid;
    padding: 4%;
    column-gap: 5%;
    background:#DDEAF9;
    border-radius: 15px;
    height: auto;
    height: -webkit-fill-available;
}

.user-photo {
    width: 170px;
    height: 200px;
    border : none;
    left: 75px;
}

.userinfo{
    display : flex;
    flex-direction : row;
}

.name-container{
    display : grid;
    grid-template-columns: 1fr 6fr ;
    align-content: space-between;
    row-gap: 10px;
}

.userinfo .grid-container {
    display : grid;
    column-gap: 5vh;
    row-gap : 5vh;
    padding-left:6%;
    grid-template-columns: 1fr 5fr 1fr 5fr;
    grid-template-rows: 1fr 1fr;
}

p{
    border-radius: 15px;
}

.career {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 5%;
}

.career span, label {
    font-size: 16px;
    font-weight: 600;
}

.career p {
    padding: 3% 5%;
    font-size: 15px;
}

.career div {
    border: 1px solid;
    border-radius: 15px;
    margin: 2%;
    padding: 3%;
}

.logo-img {
    display : flex;
    flex-direction: row;
}